.so-widget-wpnetbase-image-banner-default-4333b04dd157-4906 .sow-image-container {
  text-align: left;
}
.so-widget-wpnetbase-image-banner-default-4333b04dd157-4906 .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  
  height: auto;
}